<!DOCTYPE html>
<html lang="en">
    <!-- Basic -->
    {{>head}}
    <body>
        {{>register}}
        {{>signin}}
        {{>header}}
        {{{body}}}
        {{>instagram}}
        {{>footer}}
        {{>script}}
    </body>
</html>